<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/estaticos/estilo" />
    <link rel="icon" href="/estaticos/imgs/logo.png" type="image/x-icon">

    <script src="/estaticos/js/elementos/header.js" defer></script>
    <script src="/estaticos/js/endereco/limitarTam.js" defer></script>
    <script src="/estaticos/js/endereco/meusEnds.js" defer></script>
</head>
<body>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
      
    <header class="header-container"></header>
    <section id="sectionMeuEnd">
        <a href="/MeuPerfil" id="volteInicio"><svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M21.4498 10.275L11.9998 3.1875L2.5498 10.275L2.9998 11.625H3.7498V20.25H20.2498V11.625H20.9998L21.4498 10.275ZM5.2498 18.75V10.125L11.9998 5.0625L18.7498 10.125V18.75H14.9999V14.3333L14.2499 13.5833H9.74988L8.99988 14.3333V18.75H5.2498ZM10.4999 18.75H13.4999V15.0833H10.4999V18.75Z" fill="#0c409a"></path> </g></svg>Início</a>
        <div class="titleDetalhes">
            <div id="separa">
                Meus Endereços 
                <button id="newEnd">Novo endereço</button>
            </div>
        </div>
        <div id="meusEnd" class="borderBoxs">
            <!--<div class="cardMyEnd">
                <div class="infosEnd">
                <div class="holdInfos">
                    <div class="nome">Caio Gamer,</div>
                    <div class="rua">Rua das areias pedras e pedregulhos,</div>
                    <div>499</div>
                </div>
                <div class="holdInfos">
                    <div class="bairro">Bairro das pedras,</div>
                    <div>Cidade das Areias,</div>
                    <div>São Pedras.</div>
                </div>
                </div>
                <div class="divBtns">
                    <button class="btnsExcluClass">Excluir</button>
                    <button class="btnsEditClass">Editar</button>
                </div>
            </div>-->
        </div>
    </section>
</body>
</html>
