@import "./pages/index.scss";
@import "./mixins.scss";
@import "./variaveis.scss";

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

a {

    text-decoration: none;
}

#logo {
    width: 180px;
    margin: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $corHeaderFooter;
}

header ul{
    display: flex;
    align-items: center;
}

header li {
    font-size: 1.2em;
    list-style: none;
    margin: 0px 10px;
}

header a{
    color: $cor-branca;
}


header a:hover{
    color: rgb(9, 255, 0);
}

footer {
    color: $cor-branca;
    padding: 10px 0px;
    background-color: $corHeaderFooter;
    text-align: center;
}

