<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>    
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/elementos/header.js" defer></script>
</head>
<body>
    <header class="header-container"></header>
    <main>
        <section id="sectionCar">
            <div id="divGridInfosCar">
            <div id="divProdCar">
                <div class="cardsCar">
                    <div  class="infosProductCar">
                        <img src="../imgs/amortece.webp" alt="" class="imgsCar">
                        <div>
                        <div class="nomeProductCar">Nome do produto</div>
                        <div class="precoCar">R$0000.00</div>
                        </div>
                    </div>
                <div class="holdInfosImgs">         
                    <div class="divBtnsCar">
                        <input type="number" min="1" placeholder="Qtd" class="qtdInputs">
                        <button class="btnExcluCar">Excluir</button>
                    </div>
                </div>
                </div>
                <div class="cardsCar">
                    <div  class="infosProductCar">
                        <img src="../imgs/amortece.webp" alt="" class="imgsCar">
                        <div>
                        <div class="nomeProductCar">Nome do produto</div>
                        <div class="precoCar">R$0000.00</div>
                        </div>
                    </div>
                <div class="holdInfosImgs">         
                    <div class="divBtnsCar">
                        <input type="number" min="1" placeholder="Qtd" class="qtdInputs">
                        <button class="btnExcluCar">Excluir</button>
                    </div>
                </div>
                </div>
                <div class="cardsCar">
                    <div  class="infosProductCar">
                        <img src="../imgs/amortece.webp" alt="" class="imgsCar">
                        <div>
                        <div class="nomeProductCar">Nome do produto</div>
                        <div class="precoCar">R$0000.00</div>
                        </div>
                    </div>
                <div class="holdInfosImgs">         
                    <div class="divBtnsCar">
                        <input type="number" min="1" placeholder="Qtd" class="qtdInputs">
                        <button class="btnExcluCar">Excluir</button>
                    </div>
                </div>
                </div>
            </div>
            <div id="divFinalizaCompra">
                <div id="divInfosFinaisPreco">
                    <div class="titleCars">Finalizar pedido</div>
                    <div class="titleCars">Total: R$<span id="preco">0000.00</span></div>
                </div>
                <div class="titleCars">Total de itens: <span>3</span></div>
                <div id="divHoldBtnsFim">
                    <button id="btnCancelarCompra">Cancelar</button>
                    <a href="fimCarrinho.html"><button id="btnCon">Continuar</button></a>
                </div>
            </div>
        </div>
        <div id="divVejaMais">
            <div class="titleMaisProdutos">Veja mais produtos</div>
            <div id="sectionProducts">
                <a href="visualizarProduto">
                    <div class="cardsProdu">
                        <div class="divImgProdu">
                            <img src="../imgs/amortece.webp" alt="">
                        </div>
                        <div class="nomeProdu">Nome do Produto</div>
                        <div class="precoProdu">R$<span>5555</span></div>
                    </div>
                </a>
                <a href="visualizarProduto">
                    <div class="cardsProdu">
                        <div class="divImgProdu">
                            <img src="../imgs/amortece.webp" alt="">
                        </div>
                        <div class="nomeProdu">Nome do Produto</div>
                        <div class="precoProdu">R$<span>5555</span></div>
                    </div>
                </a>
                <a href="visualizarProduto">
                    <div class="cardsProdu">
                        <div class="divImgProdu">
                            <img src="../imgs/amortece.webp" alt="">
                        </div>
                        <div class="nomeProdu">Nome do Produto</div>
                        <div class="precoProdu">R$<span>5555</span></div>
                    </div>
                </a>
            </div>
        </div>
        </section>
       
    </main>
     <footer class="footer">Copyright ©</footer>
</body>
</html>