#sectionCar {
    display: grid;
    grid-template-areas: 'divProdCar divFinalizaCompra';
    gap: 20px;
    margin: 20px;
}

.titleCars {
    font-size: 1.5em;
}

.cardsCar {
    display: flex;
    background-color: $corPrimaria;
    color: $corSecundaria;
    border-radius: 10px;
    padding: 10px;
}

.imgsCar {
    width: 250px;
    margin-right: 10px;
    border-radius: 5px;
}

.nomeProductCar {
    font-size: 1.3em;
}

#divFinalizaCompra {  
    height: 13vh;
    background-color: $corPrimaria;
    color: $corSecundaria;
    border-radius: 10px;
    padding: 10px;
}

#divInfosFinaisPreco{ 
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $corSecundaria;
}

#btnContinuar {
    margin-top: 10px;
    width: 100%;
    @include buttons(1em, $corSecundaria, $corPrimaria);
    &:hover {
        background-color: $corSecundaria;
    }
}