#sectionSobre {
    margin: 10vw;
}

.divGridSobre {
    display: grid;
    grid-template-areas: 'divFotoSobre infoSobre';
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.infoSobre {
    margin: 20px 0px;
    font-size: 1.3em;
    text-align: justify;
}

.fotoSobre {
    width: 350px;
    height: 350px;  
    border-radius: 100%;
    background-color: black;
}