@media screen and (max-width: 1200px) {
    
.infoSobre {
    font-size: 1.1em;
}

.fotoSobre {
    width: 250px;
    height: 250px;  
}

}

@media screen and (max-width: 750px) {
    .infoSobre {
        font-size: 1em;
    }
    
    .fotoSobre {
        width: 150px;
        height: 150px;  
    }   
}


@media screen and (max-width: 600px) {
    .divGridSobre {
        grid-template-areas: 'divFotoSobre';
        gap: 15px;
    }
    .fotoSobre {
        border-radius: 10px;
    }
    .divFotoSobre {
        margin: auto;
    }
}