#sectionProducts {
    margin: 20px 0px;
    display: grid;
    grid-template-areas: 'cardsProdu cardsProdu cardsProdu cardsProdu';
    justify-content: center;
    gap: 20px;
}

.cardsProdu {
    padding: 10px;
    color: $corLinks;
    background-color: $corPreto;
    border-radius: 10px;
    text-align: center;
}

.divImgProdu {
    margin: auto;
    width: 280px;
    img {
        width: 280px;
        border-radius: 5px;
    }
}

.precoProdu {
    color: $corGreen;
}