<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
    <script type="module"  src="/estaticos/js/cadasterProductCreation/classificacao.js" defer></script>
    <script src="/estaticos/js/cadasterProductCreation/envioDadosProdutoPrimario.js" defer></script>
    <script src="/estaticos/js/animations/classificacoes.js" defer></script>
</head>
<body>
    <header class="header-container"></header>
    <section id="sectionFormProduto">
      <a href="/admin" id="volteInicio"><svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M21.4498 10.275L11.9998 3.1875L2.5498 10.275L2.9998 11.625H3.7498V20.25H20.2498V11.625H20.9998L21.4498 10.275ZM5.2498 18.75V10.125L11.9998 5.0625L18.7498 10.125V18.75H14.9999V14.3333L14.2499 13.5833H9.74988L8.99988 14.3333V18.75H5.2498ZM10.4999 18.75H13.4999V15.0833H10.4999V18.75Z" fill="#0c409a"></path> </g></svg>Início</a>
        <div id="formProduto">
          <div id="titleForms">Cadastrar Produto</div>
          <input
            type="text"
            name="produto"
            placeholder="Nome do Produto"
            class="inputs"
          />
          <div>
          <div id="divHoldSelect">
            <label id="selectClassifi">Clique para selecionar classificação:</label>
            <div id="divChecks">
              <!--<div class="cardsChecks"><input type="checkbox" name="" id="over"><label for="over">over</label></div>
                <div class="cardsChecks"><input type="checkbox" name="" id="slim"><label for="slim">slim</label></div>-->
              </div>
            </div>
            <a href="/admin/cadastrarClassificacao" id="newClass">Clique aqui para criar uma classificação</a>
          </div>
          <input
            type="file"
            name="fotosPrimarias"
            class="inputFile inputs"
            multiple
          />
          <textarea class="inputs" name="descricao" placeholder="Descricao geral do produto"></textarea>
  <div id="divEsqueceBtnEntre">
      <input type="submit" id="btnsForms" value="Cadastrar Produto" />
  </div>
</div>
      </section>
</body>
</html>