<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Variação</title>
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
    <script src="/estaticos/js/cadasterProductCreation/creationElements.js" defer type="module"></script>
    <script src="/estaticos/js/cadastroVariacoes/variacao.js" defer></script>
</head>
<body>
    <header class="header-container"></header>
    <section id="sectionFormProduto">
      <a href="/admin" id="volteInicio"><svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M21.4498 10.275L11.9998 3.1875L2.5498 10.275L2.9998 11.625H3.7498V20.25H20.2498V11.625H20.9998L21.4498 10.275ZM5.2498 18.75V10.125L11.9998 5.0625L18.7498 10.125V18.75H14.9999V14.3333L14.2499 13.5833H9.74988L8.99988 14.3333V18.75H5.2498ZM10.4999 18.75H13.4999V15.0833H10.4999V18.75Z" fill="#0c409a"></path> </g></svg>Início</a>
        <div id="formProduto">
          <div id="titleForms">Cadastrar Variação</div>
         
          <button id="criaVari" class="btnsCria">Criar Variação</button>
          <div id="divHoldVari">
            <div class="cardsVariacoes">
              <div class="holdInputs">
                <!--
                    falta adicionar algum input que diga se essa variação está disponivel para venda ou nn
                    checkbox, botao, garrafinha d'agua feijoada sla
                -->
                <input type="number" min="1" class="inputVari" placeholder="Qtd">
                <input type="text" class="inputVari" placeholder="Preço">
              </div>
              <div class="divTextAreaFile">
                <textarea class="inputs variacoesTextArea" placeholder="Especificações"></textarea>
                <input type="file" class="inputFileVari inputs">
              </div>
              <button class="btnsCancel">Cancelar</button>
              <button  class="btnsConfirm">Salvar</button>
            </div>
          </div>
</div>
      </section>
</body>
</html>