<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Classificação</title>
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
    <script type="module" src="/estaticos/js/cadasterProductCreation/classificacao.js" defer></script>
</head>
<body>
    <header class="header-container"></header>
    <section id="sectionFormProduto">
        <div id="formProduto">
          <div id="titleForms">Cadastrar Classificação</div>
          <label for="classificacao">Classificações existentes:</label>
          <select name="classificacao" id="selectClassi" class="inputs">

          </select>
          <button id="criaClassi" class="btnsCria">Criar classificação</button>
          <div  id="divHoldClassifi"  class="divHoldCards">
            <!--<div class="cardsClassificacoes">
                <input type="text" class="inputs"><button class="btnsCancel">Cancelar</button><button class="btnsConfirm">Confirmar</button>
            </div>-->
          </div>
</div>
      </section>
</body>
</html>