<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Classificação</title>
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
    <script type="module"  src="/estaticos/js/cadasterProductCreation/consultaClass.js" defer></script>
</head>
<body>
    <header class="header-container"></header>
    <section>
        <div id="divInputConsul">
            <input type="text" id="inputBusca" placeholder="Busque uma classificação" class="inputsConsultas"><button id="btnBuscaPedido">Buscar</button>
        </div>
        <div id="sectionProducts">
                <!--<div class="cardsClass">
                    <div class="nomeClass">Nome da Classificação</div>
                    <div class="divEditExclu"><button class="btnsExcluClass">Excluir</button><button class="btnsEditClass">Editar</button></div>
                </div>-->
        </div>
    </section>
</body>
</html>