<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Usuário</title>
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
</head>
<body>
    <header class="header-container"></header>
    <section>
        <div id="divInputConsul">
            <input type="text" placeholder="Nome do Cliente" class="inputsConsultas" id="clientInput"><button id="btnBuscaPedido">Buscar</button>
        </div>

        <div id="holdTodosPedidos">
            <div class="cardPedido">
                <div >Cliente: <span>Caio Santos</span></div>
                <a href="/admin/detalhesPedidos"><button class="btnMaisDetails">Mais Detalhes</button></a>
            </div>
        </div>
    </section>
</body>
</html>