<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="estilo" />
  </head>
  <body>
    <header>
      <img src="imgs/logo.png" id="logo" alt="LOGO" />
      <nav>
        <ul>
          <li><a href="inicio">Início</a></li>
          <li><a href="produtos">Produtos</a></li>
          <li><a href="sobre">Sobre</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </nav>
    </header>
    <section id="sectionForms">
      <form action.="" id="form">
        <div id="titleForms">Cadastre-se</div>

        <input
          type="text"
          name=""
          placeholder="Digite seu email"
          class="inputs"
        />

        <input
          type="text"
          name=""
          placeholder="Digite sua senha"
          class="inputs"
        />
        <input
          type="text"
          name=""
          placeholder="Digite seu telefone"
          class="inputs"
        />
<div id="divEsqueceBtnEntre">
    <input type="submit" id="btnsForms" value="Cadastrar" />
    <a href="login">Já tem uma conta ? Entre</a>
</div>
      </form>
    </section>
    <footer>Copyright ©</footer>
  </body>
</html>
