<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="estilo" />
    <script src="script/modulos/envio/cadastroUsuario/EnvioDadosUsuario" defer></script>
  </head>
  <body>
    <header>
      <img src="img/logo.png" id="logo" alt="LOGO" />
      <nav>
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="produtos">Produtos</a></li>
          <li><a href="sobre">Sobre</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </nav>
    </header>
    <section id="sectionForms">
      <form id="form">
        <div id="titleForms">Cadastre-se</div>
        <input
          type="text"
          name="Nome"
          placeholder="Digite seu nome"
          class="inputs"
        />
        <input
          type="text"
          name="Email"
          placeholder="Digite seu email"
          class="inputs"
        />        
        <input
          type="text"
          name="Senha"
          placeholder="Digite sua senha"
          class="inputs"
        />
        <input
          type="text"
          name="Telefone"
          placeholder="Digite seu telefone"
          class="inputs"
        />
        <input
          type="file"
          name="fotoUsuario"
        />
        
<div id="divEsqueceBtnEntre">
    <input type="submit" id="btnsForms" value="Cadastrar" name="Submit"/>
    <a href="login">Já tem uma conta ? Entre</a>
</div>
      </form>
    </section>
    <footer>Copyright ©</footer>
  </body>
</html>
