<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
    <script src="/estaticos/js/modulos/envio/cadastroUsuario/EnvioDadosUsuario" defer></script>
  </head>
  <body>
    <header class="header-container"></header>
    <main>
    <section id="sectionForms">
      <form id="form">
        <div id="titleForms">Cadastre-se</div>

        <input
          type="text"
          name="Nome"
          placeholder="Digite seu nome"
          class="inputs"
        />
        <input
          type="text"
          name="Email"
          placeholder="Digite seu email"
          class="inputs"
        />
        <input
          type="text"
          name="Senha"
          placeholder="Digite sua senha"
          class="inputs"
        />
        <input
          type="text"
          name="Telefone"
          placeholder="Digite seu telefone"
          class="inputs"
        />
        <input
          type="file"
          name="fotoUsuario"
          class="inputs inputFile"
        />
<div id="divEsqueceBtnEntre">
    <input type="submit" id="btnsForms" value="Cadastrar" />
    <a href="/login">Já tem uma conta ? Entre</a>
</div>
      </form>
    </section>
  </main>
    <footer>Copyright ©</footer>
  </body>
</html>
