<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>    
    <link rel="stylesheet" href="estilo">
    <script src="scripts/elementos/header.js" defer></script>
</head>
<body>
    <header class="header-container"></header>
    <main>
        <section id="sectionCar">
            <div id="divProdCar">
                <div class="cardsCar">
                    <div><img src="imgs/amortece.webp" alt="" class="imgsCar"></div>
                    <div class="infosProductCar">
                        <div class="nomeProductCar">Nome do produto</div>
                        <div class="precoCar">R$0000.00</div>
                    </div>
                </div>
            </div>
            <div id="divFinalizaCompra">
                <div id="divInfosFinaisPreco">
                    <div class="titleCars">Finalizar pedido</div>
                    <div class="titleCars">R$<span id="preco">0000.00</span></div>
                </div>
                <div class="titleCars">Total de itens: <span>3</span></div>
                <button id="btnContinuar">Continuar</button>
            </div>
        </section>
       
    </main>
     <footer class="footer">Copyright ©</footer>
</body>
</html>