<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Endereço</title>    
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/elementos/header.js" defer></script>
</head>
<body>
    <header class="header-container"></header>
    <main>
        <section id="sectionCar">
            <div id="divInfoEndereco">
                <div class="titleEndereco">Novo Endereço</div>
                <form action="" id="formCadasterEndereco">
                    <div class="holdInputsInfos">
                        <input type="text" placeholder="Nome Completo" class="inputsEndereco">
                        <input type="text" placeholder="Telefone" class="inputsEndereco">
                    </div>                    
                    <div class="holdInputsInfos">
                        <input type="text" placeholder="Estado" class="inputsEndereco">
                        <input type="text" placeholder="Cidade" class="inputsEndereco">
                    </div>
                    <div class="holdInputsInfos">
                        <input type="text" placeholder="Bairro" class="inputsEndereco">
                        <input type="number" placeholder="CEP" class="numberInput"  min="0"> 
                    </div>
                    <div  class="holdInputsInfos">
                        <input type="text" placeholder="Digite nome da rua" class="inputsEndereco">
                        <input type="number" placeholder="Número" class="numberInput" min="0">
                    </div>
                    <button id="btnSalvarEndere">Salvar</button>
                </form>
            </div>
        </section>
    </main>
     <footer class="footer">Copyright ©</footer>
</body>
</html>