<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>    
    <link rel="icon" href="/estaticos/imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
</head>
<body>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
    <header class="header-container"></header>
    <main>
        <section id="sectionCar">
            <div id="divGridInfosCar">
            <div id="divProdCar">
                <div class="cardsCar">
                    <div  class="infosProductCar">
                        <img src="estaticos/imgs/amortece.webp" alt="" class="imgsCar">
                        <div>
                        <div class="nomeProductCar">Nome do produto</div>
                        <div class="precoCar">R$0000.00</div>
                        </div>
                    </div>
                <div class="holdInfosImgs">         
                    <div class="divBtnsCar">
                        <input type="number" min="1" placeholder="Qtd" class="qtdInputs">
                        <button class="btnExcluCar">Excluir</button>
                    </div>
                </div>
                </div>
                <div class="cardsCar">
                    <div  class="infosProductCar">
                        <img src="estaticos/imgs/amortece.webp" alt="" class="imgsCar">
                        <div>
                        <div class="nomeProductCar">Nome do produto</div>
                        <div class="precoCar">R$0000.00</div>
                        </div>
                    </div>
                <div class="holdInfosImgs">         
                    <div class="divBtnsCar">
                        <input type="number" min="1" placeholder="Qtd" class="qtdInputs">
                        <button class="btnExcluCar">Excluir</button>
                    </div>
                </div>
                </div>
                <div class="cardsCar">
                    <div  class="infosProductCar">
                        <img src="estaticos/imgs/amortece.webp" alt="" class="imgsCar">
                        <div>
                        <div class="nomeProductCar">Nome do produto</div>
                        <div class="precoCar">R$0000.00</div>
                        </div>
                    </div>
                <div class="holdInfosImgs">         
                    <div class="divBtnsCar">
                        <input type="number" min="1" placeholder="Qtd" class="qtdInputs">
                        <button class="btnExcluCar">Excluir</button>
                    </div>
                </div>
                </div>
            </div>
            <div id="divFinalizaCompra">
                <div id="divInfosFinaisPreco">
                    <div class="titleCars">Finalizar pedido</div>
                    <div class="titleCars">Total: R$<span id="preco">0000.00</span></div>
                </div>
                <div class="titleCars">Total de itens: <span>3</span></div>
                <div id="divHoldBtnsFim">
                    <button id="btnCancelarCompra">Cancelar</button>
                    <a href="fimCarrinho.html"><button id="btnCon">Continuar</button></a>
                </div>
            </div>
        </div>
      </div>
        </section>
       
    </main>
     <footer class="footer">Copyright ©</footer>
</body>
</html>