<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Endereço</title>
    <link rel="icon" href="/estaticos/imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
    <script src="/estaticos/js/subdir/Requisicoes/requisicaoEndereco/endereco" type="module"></script>
</head>
<body>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
    <header class="header-container"></header>
    <main>
        <section id="sectionCar">
            <div id="divInfoEndereco">
                <div class="titleEndereco">Editar Endereço</div>
                <div id="formCadasterEndereco">
                    <div class="holdInputsInfos">
                        <input type="text" placeholder="Nome do Endereco (Casa, Trabalho...)" class="inputsEndereco" id="nomeEndereco">
                        <input type="text" placeholder="CEP" class="inputsEndereco" id="cep">
                    </div>
                    <div class="holdInputsInfos">
                        <input type="text" placeholder="Estado" class="inputsEndereco" id="estado">
                        <input type="text" placeholder="Cidade" class="inputsEndereco" id="cidade">
                    </div>
                    <div class="holdInputsInfos">
                        <input type="text" placeholder="Bairro" class="inputsEndereco" id="bairro">
                        <input type="text" placeholder="Instruções de entrega" class="inputsEndereco">
                    </div>
                    <div  class="holdInputsInfos">
                        <input type="text" placeholder="Digite nome da rua" class="inputsEndereco" id="rua">
                        <input type="number" placeholder="Número" class="numberInput" min="0" id="numero">
                    </div>
                    <button id="btnSalvarEndere">Salvar</button>
                </div>
            </div>
        </section>
    </main>
     <footer class="footer">Copyright ©</footer>
</body>
</html>
