<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>    
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/elementos/header.js" defer></script>
    <script src="../js/Requisicoes/requisicaoCarrinho/endereco.js" defer></script>
</head>
<body>
    <header class="header-container"></header>
    <main>
        <section id="sectionCar">
            <div id="infosFinaisEndereco">
                <div id="divTitleEdit">
                    <div class="titleEndereco"><svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z" stroke="#0c409a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="#0c409a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>  Endereço de entrega</div>
                    <a href="editarEndereco.html" id="aEdit">Editar</a>
                </div>
                <div id="infosEnd">
                <div class="holdInfosEnd">
                    <div id="nomeEndereco"></div>
                    <div id="telEndereco"></div>
                </div>
                    <div id="enderecoCompleto">
                        <div id="ruaEndereco"></div>, 
                        <div id="numberEndereco"></div>,
                        <div id="bairroEndereco"></div>,
                        <div id="estadoEndereco"></div>,
                        <div id="cityEndereco"></div>
                    </div>
                </div>
                <button id="newEnde">Novo endereço</button>
            </div>
        </section>
       
    </main>
     <footer class="footer">Copyright ©</footer>
</body>
</html>