<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="estilo" />
    <script src="script/envio/loginUsuario.js" defer type="module"></script>
  </head>
  <body>
    <header>
      <img src="img/logo.png" id="logo" alt="LOGO" />
      <nav>
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="produtos">Produtos</a></li>
          <li><a href="sobre">Sobre</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </nav>
    </header>
    <section id="sectionForms">
      <form action ="usuario/login" id="form" method="POST">
        <div id="titleForms">Login</div>
        <input
          type="text"
          name="Email"
          placeholder="Digite seu email"
          class="inputs"
        />

        <input
          type="text"
          name="Senha"
          placeholder="Digite sua senha"
          class="inputs"
        />
<div id="divEsqueceBtnEntre">
    <input type="submit" id="btnsForms" value="Entrar" />
    <a href="cadastro">Não tem uma conta ? Cadastre-se</a>
</div>
      </form>
    </section>
    <footer>Copyright ©</footer>
  </body>
</html>
