<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="icon" href="/estaticos/imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
    <script src="/estaticos/js/modulos/envio/loginUsuario/EnvioDadosUsuario" defer></script>
  </head>
  <body>
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <header class="header-container"></header>
    <main>
    <section id="sectionForms">
      <form action ="usuario/login" id="form" method="POST">
        <div id="titleForms">Login</div>
        <input
          type="text"
          name="Email"
          placeholder="Digite seu email"
          class="inputs"
        />

        <input
          type="password"
          name="Senha"
          placeholder="Digite sua senha"
          class="inputs"
        />
<div id="divEsqueceBtnEntre">
    <input type="submit" id="btnsForms" value="Entrar" />
    <a href="cadastro">Não tem uma conta ? Cadastre-se</a>
</div>
      </form>
      
      <div id="mensagensCadaster">
        <img src="" id="qualMensagem" alt="Mensagem">
      </div>
    </section>
  </main>
    <footer>Copyright ©</footer>
  </body>
</html>
