<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
</head>
<body>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
    <header class="header-container"></header>
    <main>
    <section id="sectionProducts">
        <a href="visualizarProduto">
            <div class="cardsProdu">
                <div class="divImgProdu">
                    <img src="estaticos/imgs/amortecedor2.jpg" alt="">
                </div>
                <div class="nomeProdu">Nome do Produto</div>
                <div class="precoProdu">R$<span>5555</span></div>
            </div>
        </a>
        <a href="visualizarProduto">
            <div class="cardsProdu">
                <div class="divImgProdu">
                    <img src="estaticos/imgs/amortecedor2.jpg" alt="">
                </div>
                <div class="nomeProdu">Nome do Produto</div>
                <div class="precoProdu">R$<span>5555</span></div>
            </div>
        </a>
        <a href="visualizarProduto">
            <div class="cardsProdu">
                <div class="divImgProdu">
                    <img src="estaticos/imgs/amortecedor2.jpg" alt="">
                </div>
                <div class="nomeProdu">Nome do Produto</div>
                <div class="precoProdu">R$<span>5555</span></div>
            </div>
        </a>
        <a href="visualizarProduto">
            <div class="cardsProdu">
                <div class="divImgProdu">
                    <img src="estaticos/imgs/amortecedor3.jpg" alt="">
                </div>
                <div class="nomeProdu">Nome do Produto</div>
                <div class="precoProdu">R$<span>5555</span></div>
            </div>
        </a>
        <a href="visualizarProduto">
            <div class="cardsProdu">
                <div class="divImgProdu">
                    <img src="estaticos/imgs/amortecedor2.jpg" alt="">
                </div>
                <div class="nomeProdu">Nome do Produto</div>
                <div class="precoProdu">R$<span>5555</span></div>
            </div>
        </a>
        <a href="visualizarProduto">
            <div class="cardsProdu">
                <div class="divImgProdu">
                    <img src="estaticos/imgs/amortecedor2.jpg" alt="">
                </div>
                <div class="nomeProdu">Nome do Produto</div>
                <div class="precoProdu">R$<span>5555</span></div>
            </div>
        </a>
        <a href="visualizarProduto">
            <div class="cardsProdu">
                <div class="divImgProdu">
                    <img src="estaticos/imgs/amortecedor2.jpg" alt="">
                </div>
                <div class="nomeProdu">Nome do Produto</div>
                <div class="precoProdu">R$<span>5555</span></div>
            </div>
        </a>
        <a href="visualizarProduto">
            <div class="cardsProdu">
                <div class="divImgProdu">
                    <img src="estaticos/imgs/amortecedor2.jpg" alt="">
                </div>
                <div class="nomeProdu">Nome do Produto</div>
                <div class="precoProdu">R$<span>5555</span></div>
            </div>
        </a>
        <a href="visualizarProduto">
            <div class="cardsProdu">
                <div class="divImgProdu">
                    <img src="estaticos/imgs/amortecedor2.jpg" alt="">
                </div>
                <div class="nomeProdu">Nome do Produto</div>
                <div class="precoProdu">R$<span>5555</span></div>
            </div>
        </a>
        <a href="visualizarProduto">
            <div class="cardsProdu">
                <div class="divImgProdu">
                    <img src="estaticos/imgs/amortecedor2.jpg" alt="">
                </div>
                <div class="nomeProdu">Nome do Produto</div>
                <div class="precoProdu">R$<span>5555</span></div>
            </div>
        </a>
    </section>
</main>
    <footer>Copyright ©</footer>
</body>
</html>