<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="estilo">
</head>
<body>
    <header class="header-container"></header>
    <section id="sectionSobre">
        <div class="divGridSobre">
            <div class="divFotoSobre"><img src="" class="fotoSobre" alt=""></div>
            <div class="infoSobre">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, necessitatibus. Repellendus iusto dolores aspernatur nesciunt voluptatibus possimus dolorum fuga adipisci ex? Illo culpa earum libero quos explicabo voluptate consequatur ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, necessitatibus. Repellendus iusto dolores aspernatur nesciunt voluptatibus possimus dolorum fuga adipisci ex? Illo culpa earum libero quos explicabo voluptate consequatur ipsam?
            </div>
        </div>
        <div class="divGridSobre">
            <div class="infoSobre">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, necessitatibus. Repellendus iusto dolores aspernatur nesciunt voluptatibus possimus dolorum fuga adipisci ex? Illo culpa earum libero quos explicabo voluptate consequatur ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, necessitatibus. Repellendus iusto dolores aspernatur nesciunt voluptatibus possimus dolorum fuga adipisci ex? Illo culpa earum libero quos explicabo voluptate consequatur ipsam?
            </div>
            <div class="divFotoSobre"><img src="" class="fotoSobre" alt=""></div>
        </div>
    </section>
    <footer>Copyright ©</footer>
</body>
</html>