<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
</head>
<body>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
    <header class="header-container"></header>
    <main>
    <section id="sectionSobre">
        <div class="divGridSobre">
            <div class="divFotoSobre"><img src="" class="fotoSobre" alt=""></div>
            <div class="infoSobre">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, necessitatibus. Repellendus iusto dolores aspernatur nesciunt voluptatibus possimus dolorum fuga adipisci ex? Illo culpa earum libero quos explicabo voluptate consequatur ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, necessitatibus. Repellendus iusto dolores aspernatur nesciunt voluptatibus possimus dolorum fuga adipisci ex? Illo culpa earum libero quos explicabo voluptate consequatur ipsam?
            </div>
        </div>
        <div class="divGridSobre">
            <div class="infoSobre">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, necessitatibus. Repellendus iusto dolores aspernatur nesciunt voluptatibus possimus dolorum fuga adipisci ex? Illo culpa earum libero quos explicabo voluptate consequatur ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, necessitatibus. Repellendus iusto dolores aspernatur nesciunt voluptatibus possimus dolorum fuga adipisci ex? Illo culpa earum libero quos explicabo voluptate consequatur ipsam?
            </div>
            <div class="divFotoSobre"><img src="" class="fotoSobre" alt=""></div>
        </div>
    </section>
</main>
    <footer>Copyright ©</footer>
</body>
</html>