<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>    
    <link rel="stylesheet" href="estilo">
    <script src="scripts/elementos/header.js" defer></script>
    <!--<script href="scripts/inicio"></script>-->
</head>
<body>
    <div class="header-container"></div>
    <section id="sectionError">
        <div id="titleError">Página não encontrada 404</div>
        <img src="imgs/error.png" alt="" id="imgErro">
    </section>
    <footer>Copyright ©</footer>
</body>
</html>