<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mensagem</title>
    <link rel="icon" href="/estaticos/imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/estaticos/estilo" />
    <script src="/estaticos/js/elementos/header.js" defer></script>
    <script src="/estaticos/js/mensagens/enviarMensagem.js" defer></script>
  </head>
  <body>
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <header class="header-container"></header>
    <main>
    <section id="sectionForms">
      <form id="form">
        <div id="titleForms">Mensagem</div>
        <input
          type="text"
          name="Motivo"
          placeholder="Motivo"
          class="inputs"
          id="motivo"
          required
        />
        <input
          type="file"
          name="imgs[]"
          class="inputs inputFile"
          id="imgMensagem"
          multiple
        />
        <textarea
          name="Conteudo"
          class="inputs"
          placeholder="Conteúdo"
          id="descricao"
        ></textarea>
        <div id="divEsqueceBtnEntre">
            <input type="submit" id="btnsForms" value="Enviar" />
        </div>
      </form>
      <div id="mensagensCadaster">
        <img src="" id="qualMensagem" alt="Mensagem">
      </div>
    </section>
  </main>
    <footer>Copyright ©</footer>
  </body>
</html>
