<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="estilo" />
  </head>
  <body>
    <header class="header-container"></header>
    <section id="sectionForms">
      <form action.="" id="form">
        <div id="titleForms">Mensagens</div>
        <input
          type="text"
          name=""
          placeholder="Digite "
          class="inputs"
        />

        <input
          type="text"
          name=""
          placeholder="Digite "
          class="inputs"
        />
        <input
          type="file"
          name=""
          placeholder="Digite "
          class="inputs inputFile"
        />
        <textarea name="" class="inputs"></textarea>
        <div id="divEsqueceBtnEntre">
            <input type="submit" id="btnsForms" value="Enviar" />
        </div>
      </form>
    </section>
    <footer>Copyright ©</footer>
  </body>
</html>
