<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="estilo" />
    <script src="scripts/elementos/header.js" defer></script>
    <script src="scripts/modulos/envio/mensagemUsuario/EnvioDadosUsuario" defer></script>
  </head>
  <body>
    <header class="header-container"></header>
    <section id="sectionForms">
      <form id="form">
        <div id="titleForms">Mensagens</div>
        <input
          type="text"
          name="Titulo"
          placeholder="Titulo"
          class="inputs"
        />

        <input
          type="text"
          name="SubTitulo"
          placeholder="Digite o Sub-Titulo"
          class="inputs"
        />
        <input
          type="file"
          name="FotosMensagem"
          class="inputs inputFile"
        />
        <textarea name="Conteudo" class="inputs" placeholder="Digite o Conteudo"></textarea>
        <div id="divEsqueceBtnEntre">
            <input type="submit" id="btnsForms" value="Enviar" />
        </div>
      </form>
    </section>
    <footer>Copyright ©</footer>
  </body>
</html>
