<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="estilo">
    <script src="scripts/elementos/header.js" defer></script>
</head>
<body>
    <header class="header-container"></header>
    <section id="sectionVisuPro">
        <div id="fotosProduto">
            <button id="btnEsquerda" class="btnDireEsquer"><</button>
            <div id="caixaFotoAnuncio">
                <img src="imgs/amortece.webp" alt="" id="mudaImg">
            </div>
            <button id="btnDireita" class="btnDireEsquer">></button>
        </div>
        <div id="infosProduto">
            <div id="nomeProduto">Nome Produto</div>
            <div id="divPrecoProduto">R$<span id="preco">0000.00</span></div>
        </div>
    </section>
    <footer>Copyright ©</footer>
</body>
</html>